name: Flask CI

on: [push, pull_request]

jobs:
  flask-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest pytest-cov
        
    - name: Install app in development mode
      run: pip install -e .
        
    - name: Run Flask tests
      env:
        FLASK_ENV: testing
      run: pytest --cov=app --disable-warnings -v